In [2]:
import pandas as pd
import numpy as np

In [3]:
BTS_data = pd.read_csv("billionton_state_download.csv",low_memory = 0)

In [4]:
for i in range(0,len(BTS_data.Scenario.unique())):
    print(str(i+1) + ". " + BTS_data.Scenario.unique()[i])
active_case = BTS_data.Scenario.unique()[int(input("     Select active case: "))-1]

1. Basecase, all energy crops
2. Basecase, single energy crops
3. 2% yield inc.
4. Baseline
5. 3% yield inc.
6. 4% yield inc.
7. High housing, high energy demands
8. High housing, medium energy demands
9. Medium housing, high energy demands
10. Medium housing, low energy demands
11. Medium housing, medium energy demands
12. High housing, low energy demands
13. Wastes and other residues
     Select active case: 1

In [23]:
active_data = BTS_data[BTS_data["Scenario"] == active_case]
active_data = active_data[active_data["Production"] != "null"]
active_data["Production"] = active_data["Production"].astype('double')
type_keys = []
for i in range(len(active_data)):
    thisEntry = active_data.iloc[i]
    type_keys.append(thisEntry["Resource Type"] + "#" + thisEntry["Land Source"] + "#" + thisEntry["Feedstock"])
active_data = active_data.assign(type_key=type_keys)
active_data.iloc[:2]

,Year,Scenario,Biomass Price,Feedstock,State,Production,Production Unit,Harvested Acres,Yield,Yield Unit,...,Land Source,Forest Region,Diameter Class,Operation Type,Owner,supply Class,Supply Target,fips,USDA Region,type_key
5385,2014,"Basecase, all energy crops",30,Corn,Alabama,3.775768e+07,bu,263569.6779,143.25501017,bu/ac,...,Crop,null,null,null,null,null,null,1,Southeast,Conventional#Crop#Corn
5386,2014,"Basecase, all energy crops",30,Cotton,Alabama,2.485867e+08,lb,311391.7877,798.30852697,lb/ac,...,Crop,null,null,null,null,null,null,1,Southeast,Conventional#Crop#Cotton

In [10]:
stateList = BTS_data.State.unique()
stateList = sorted(stateList)

In [11]:
for i in range(0,len(stateList)):
    print(str(i+1) + ". " + stateList[i])
active_state = stateList[int(input("     Select active state: "))-1]
active_data = active_data[active_data["State"] != "null"]
active_data.iloc[:2]

1. Alabama
2. Arizona
3. Arkansas
4. California
5. Colorado
6. Connecticut
7. Delaware
8. District of Columbia
9. Florida
10. Georgia
11. Idaho
12. Illinois
13. Indiana
14. Iowa
15. Kansas
16. Kentucky
17. Louisiana
18. Maine
19. Maryland
20. Massachusetts
21. Michigan
22. Minnesota
23. Mississippi
24. Missouri
25. Montana
26. Nebraska
27. Nevada
28. New Hampshire
29. New Jersey
30. New Mexico
31. New York
32. North Carolina
33. North Dakota
34. Ohio
35. Oklahoma
36. Oregon
37. Pennsylvania
38. Rhode Island
39. South Carolina
40. South Dakota
41. Tennessee
42. Texas
43. Utah
44. Vermont
45. Virginia
46. Washington
47. West Virginia
48. Wisconsin
49. Wyoming
     Select active state: 31

IndexError: index 30 is out of bounds for axis 0 with size 13

In [ ]:
BTS_map = pd.read_csv("BTS_map.csv")

In [ ]:
BTS_map.set_index("Feedstock", drop=True, inplace=True)

BTS_dict = BTS_map['2011 Designation'].to_dict()

In [ ]:
pw_vals = [BTS_dict[x] for x in active_data["Feedstock"]]
active_data = active_data.assign(pw_id=pw_vals)

In [ ]:
pw_sort = [pw_vals[x] + "/" + str(active_data['Year'].iloc[x]) for x in range(len(pw_vals))]

active_data = active_data.assign(pw_table=pw_sort)

active_data.iloc[:2]

In [ ]:
data_cross = pd.crosstab(active_data.pw_table,active_data['Biomass Price'],values=active_data.Production,aggfunc=np.sum)

In [ ]:
data_cross.to_csv("biomass_crosstab.csv")